@320: 320px;

@media (max-width: @320) {
  .wrapper {
    padding: 0 !important;
  }
  .logo {
    padding: 15px;
  }
  .menu {
    padding: 12px 15px;
    .menu-button {
      color: white;
      font-size: 0;
      vertical-align: super;
      border: #5f8aa6 1px solid;
      padding: 8px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      i {
        font-size: 20px;
      }
    }
  }
  .finder_section {
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .finder_text_header {
      padding: 15px 15px 0 15px;
      margin: 0;
      color: white;
      font-size: 32px;
      font-weight: normal;
    }
    .finder_text {
      padding: 15px;
      color: white;
      font-size: 12px;
      margin-bottom: 10px;
    }
    .finder_block {
      background: #ffcd4a;
      padding: 15px;
    }
    .finder_form {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 3px solid white;
      background: white;
    }
    .finder_place_input {
      width: 100%;
      padding: 10px;
      color: black;
      border: none;
      outline: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 20px;
      &:focus {
        border: none;
        outline: none;
      }
    }
    .finder_date {
      margin-left: -5px;
      background: #dddddd;
      padding: 14px 10px;
      vertical-align: top;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
      &.finder_date_start_input {
        border-right: none;
        border-left: 2px solid white;
      }
      &.finder_date_end_input {
        border-left: none;
        border-right: none;
      }
      &:focus {
        outline: none;
      }
    }
    .tour_firm, .finder_date {
      display: inline-block;
      border-top: 3px solid white;
      border-bottom: 3px solid white;
      width: 33.2%;
    }
    .separator {
      position: relative;
      &:before,&:after {
        left: 85%;
        top: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-left-color: #ddd;
        border-width: 22px;
        margin-top: -25px;
        margin-left: -1px;
      }
      &:before {
        border-left-color: white;
        border-width: 25px;
        margin-top: -28px;
      }
    }
    .show_prices_button {
      background: #0073b5;
      color: white;
      padding: 15px;
      font-size: 20px;
      width: 100%;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border-top: 1px solid white;
      &:hover {
        background: #f2a622;
      }
    }
  }
  .tour_firm {
    background: #d4002a;
    font-weight: bold;
    color: white;
    font-size: 24px;
    padding: 5px 0;
    position: relative;
    border-left: none;
    border-right: 2px solid white;
    .flag {
      position: absolute;
      right: -16px;
      bottom: -16px;
      z-index: 1;
      width: 32px;
      height: 24px;
      border: 2px solid white;
    }
  }
  .hot_deals_block {
    background: #efe3c5;
    .hot_deals_header {
      color: #8d6a16;
      margin: 0;
      font-size: 16px;
      text-align: center;
      padding: 30px 15px 15px 15px;
    }
  }
  .slider {
    background: white;
  }
  .slide {
    padding: 20px 15px;
    text-align: center;
    .slide_header {
      color: black;
      font-size: 16px;
      text-align: center;
      margin: 0;
      padding: 0 0 15px 0;
    }
    .slide-new-price {
      font-size: 35px;
      font-weight: bold;
      padding: 5px 0;
      color: #e32327;
    }
    .slide-old-price {
      color: #909090;
      text-decoration: line-through;
    }
    .slide_button {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #0073b5;
      color: white;
      padding: 15px 50px;
      font-size: 20px;
      margin-top: 10px;
      &:hover {
        background: #f2a622;
      }
    }
    .deal_place {
      color: #909090;
      padding: 20px 0 0 0;
    }
  }
  .top_location {
    padding: 15px;
    background: #efe3c5;
    .top_location_header {
      color: #444444;
      font-size: 16px;
      text-align: center;
    }
    .top_locations_links {
      margin: 0;
      padding: 0;
    }
    .top_locations_links li {
      list-style: none;
      text-align: center;
      padding: 2px 10px;
      a {
        color: #8d6a16;
        text-decoration: none;
        &:hover {
          color: #c88f06;
          text-decoration: none;
        }
      }
    }
  }
  .raiting_section {
    text-align: center;
    padding: 15px;
    .tour_firm {
      width: 90px;
      display: inline-block;
    }
    .raiting_header {
      line-height: 28px;
      position: relative;
      a {
        text-decoration: underline;
        color: #0073b5;
        &:hover {
          text-decoration: none;
        }
      }
      &:after {
        content: '';
        width: 100%;
        height: 7px;
        background: #eeeeee;
        position: absolute;
        bottom: -20px;
        left: 0;
      }
    }
    .raiting_block {
      padding: 15px;
    }
    .raiting_word {
      text-align: center;
      color: black;
      font-size: 24px;
      font-weight: bold;
    }
    .raiting_reviews {
      color: #0073b5;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
        color: #0073b5;
      }
    }
    .raiting_overview {
      background: #f3f3f3;
      padding: 15px;
      .raiting_overview_row {
        border-bottom: 2px solid #dddddd;
        padding: 10px 0;
        color: black;
        text-align: left;
        &:first-of-type {
          padding-top: 0;
        }
        &:last-of-type {
          padding-bottom: 0;
          border: 0;
        }
        .raiting_name {
          width: 80%;
          font-size: 12px;
        }
        .raiting_score {
          float: right;
          color: #0073b5;
          font-weight: bold;
        }
        .raiting_name,.raiting_score {
          display: inline-block;
        }
      }
    }
  }
  .comment {
    padding: 0 15px 15px 15px;
    .dotted-border {
      border-bottom: 2px dotted #bfbfbf;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .comment_header {
      .user_name {
        font-weight: bold;
        text-align: left;
        display: inline-block;
        width: 49%;
        vertical-align: middle;
      }
      .user_rate {
        float: right;
        color: #0073b5;
        font-size: 20px;
        text-align: right;
        display: inline-block;
        width: 49%;
      }
      .user_contry {
        color: #929292;
        text-align: left;
        display: inline-block;
        width: 46%;
        font-size: 14px;
        vertical-align: middle;
        .flag {
          display: inline-block;
          vertical-align: middle;
          width: 25px;
          height: 20px;
        }
      }
      .comment_date {
        color: #929292;
        text-align: right;
        display: inline-block;
        width: 52%;
        font-size: 14px;
      }
    }
    .positive_comment, .negative_comment {
      position: relative;
      padding-left: 30px;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .positive_comment {
      &:before {
        content: '\f067';
        font-family: "FontAwesome";
        color: #369d1b;
        font-size: 18px;
        height: 100%;
        position: absolute;
        margin: 5px 0 0 0;
        left: 5px;
      }
    }
    .negative_comment {
      &:before {
        content: '\f068';
        font-family: "FontAwesome";
        color: #960b0b;
        font-size: 18px;
        height: 100%;
        position: absolute;
        margin: 5px 0 0 0;
        left: 5px;
      }
    }
  }
  .all_comments_link {
    margin: 0 15px 25px 15px;
    padding-top: 15px;
    display: block;
    color: #0073b5;
    text-decoration: none;
    border-top: solid 2px #e5e5e5;
    font-size: 12px;
    text-align: center;
  }
  .other_cities_section {
    background: #f6f6f6;
    text-align: center;
    .other_cites_header {
      color: black;
      font-size: 18px;
      border-bottom: 7px #eee solid;
      padding: 15px 0;
      margin: 0;
    }
    .other_cities_links {
      margin: 0;
      padding: 0;
      li {
        padding: 10px 0;
        list-style: none;
        border-bottom: 2px #eee solid;
        a {
          color: #444444;
          text-decoration: none;
        }
      }
    }
    .all_other_cites_link {
      color: #444444;
      text-decoration: none;
      margin: 10px 0 15px 0;
      display: inline-block;
    }
  }
  .other_suppliers_section {
    background: #d8e9f2;
    padding: 15px;
    .other_supplier_column {
      width: 49.2%;
      text-align: center;
      display: inline-block;
    }
    .other_suppliers_header {
      text-align: center;
      color: #1a5880;
      font-size: 15px;
      margin: 0 0 20px 0;
    }
    .other_soppliers_logo {
      padding-top: 20px;
    }
  }
  .why_we_section {
    padding: 15px;
    text-align: center;
    .why_we_header {
      font-weight: normal;
      color: #777777;
      line-height: 30px;
      border-bottom: 7px #eee solid;
      padding: 0 0 15px 0;
      margin: 0;
    }
    .why_list {
      margin: 0;
      padding: 0;
      h2 {
        color: black;
        font-size: 16px;
        text-align: center;
      }
      li {
        list-style: none;
        text-align: left;
        padding: 10px 0 10px 32px;
        position: relative;
        font-size: 14px;
        &:first-of-type {
          padding-top: 0;
        }
        &:last-of-type {
          padding-bottom: 0;
        }
        &:before {
          font-family: 'FontAwesome';
          color: #0073b5;
          font-size: 24px;
          position: absolute;
          left: 0;
          height: 100%;
          content: '\f00c';
        }
      }
    }
    .why_we_logo {
      text-align: left;
      margin: 25px 0;
      img {
        width: 40%;
      }
    }
    .review_centre_block {
      border: 2px dashed #bccad7;
      padding: 15px;
      .review_centre_user_name, .review_centre_user_raiting {
        display: inline-block;
      }
      .review_centre_user_name {
        font-weight: bold;
        text-align: left;
        width: 53.2%;
      }
      .review_centre_user_raiting {
        text-align: right;
        width: 45%;
        i {
          color: #ffcd4a;
        }
      }
      .review_centre_user_text {
        text-align: left;
        font-size: 14px;
        padding: 15px 0;
      }
    }
    .review_centre_read_more_link, .review_centre_logo {
      display: inline-block;
      vertical-align: top;
    }
    .review_centre_read_more_link {
      text-align: left;
      width: 30%;
      a {
        color: #2286bf;
        font-size: 14px;
      }
    }
    .review_centre_logo {
      text-align: right;
      width: 68%;
      img {
        width: 80%;
      }
    }
  }
  .ask_question_block {
    background: #eeeeee;
    padding: 15px;
    .ask_question_header {
      color: #444444;
      text-align:center;
      font-size: 18px;
      margin-top: 0;
      padding-top: 0;
    }
    .faq_block {
      text-align: center;
      font-size: 14px;
      color: #444444;
      a {
        color: #2286bf;
      }
    }
    .ask_question_button {
      background: #0073b5;
      color: white;
      padding: 15px;
      font-size: 20px;
      width: 100%;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border-top: 1px solid white;
      margin: 15px 0;
      &:hover {
        background: #f2a622;
      }
    }
    .ask_question_email_link {
      text-align: center;
      a {
        color: #2286bf;
        font-size: 14px;
      }
    }
  }
  .contacts_section {
    background: #dddddd;
    padding: 15px;
    .phone_number_block {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: #b1b1b1 2px dashed;
    }
    .phone_number_header {
      color: #444444;
      text-align:center;
      font-size: 16px;
      margin: 0;
      padding: 0 0 5px 0;
    }
    .phone_nubmer {
      color: #0073b5;
      font-size: 26px;
      font-weight: bold;
      text-align: center;
    }
    .social_header {
      color: #7f7f7f;
      text-align: center;
      font-weight: normal;
      font-size: 16px;
    }
    .social_block {
      text-align: center;
    }
    .social_block {
      a {
        color: #8c8c8c;
        font-size: 0;
        text-decoration: none;
        padding: 0 10px;
        text-align: center;
        i {
          font-size: 36px;
        }
        &.social_facebook_link {
          &:hover {
            color: white;
          }
        }
        &.social_google_link {
          &:hover {
            color: #D94835;
          }
        }
        &.social_youtube_link {
          &:hover {
            color: #E32C28;
          }
        }
      }
    }
  }
  .stay_tuned_section {
    background: #eeeeee;
    padding: 15px;
    .stay_tuned_header {
      color: #444444;
      text-align:center;
      font-size: 18px;
      margin: 0 0 5px 0;
      padding: 0 0 5px 0;
    }
    .stay_tuned_text {
      text-align: center;
      font-size: 13px;
      color: #444444;
    }
    .news_offers_subscribe {
      padding-bottom: 15px;
      .subscribe_email {
        padding: 15px;
        outline: none;
        border: 1px solid #dddddd;
        background: white;
        width: 100%;
        margin: 15px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        &:hover {
          outline: none;
        }
      }
      .subscribe_submit {
        background: #0073b5;
        color: white;
        padding: 15px;
        font-size: 20px;
        width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border-top: 1px solid white;
        &:hover {
          background: #f2a622;
        }
      }
    }
  }
}