@media (max-width: 639px) {

  .header_buttons {
    overflow: hidden;
    position: absolute;
    height: 0;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #133f5c;
    z-index: 2;
    text-align: center;
    &.active {
      height: 100%;
      width: 100%;
      display: block;
    }
  }

  .wrapper {
    padding: 0 !important;
  }
  .logo {
    padding: 15px;
  }
  .menu {
    padding: 12px 15px;
    button {
      &:after {
        content: "\f0c9" !important;
      }
      .menu_open {
        display: none;
      }
    }
  }
  .header_phone_list,.languages,.currency {
    margin-top: 32px !important;
  }
  .header_phones,.header_languages,.header_currency {
    &:hover {
      background-color: #142a3c !important;
    }
    .phones_column,.languages_column {
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
      border: none !important;
    }
    .static_triangle {
      padding-top: 25px !important;
    }
  }
  .likes_block {
    position: absolute;
    color: #bacdd9;
    margin-top: 65px;
    width: 100%;
    border-top: 1px solid #2b536d;
    padding-top: 25px;
    &:after {
      content: "";
      border-top: 1px solid #2b536d;
      position: absolute;
      width: 100%;
      display: block;
      top: -10px;
      margin-bottom: 10px;
    }
    &:before {
      content: "\f004";
      font-family: "fontAwesome";
    }
  }
  .finder_text_header {
    svg {
      display: none;
    }
  }
  .finder_text {
    font-size: 12px;
  }
  .advantages_block {
    display: none;
  }
  .slide {
    display: none !important;
    &.active {
      display: inline-block !important;
      width: 100%;
    }
  }
  .comments {
    margin-top: 20px;
  }
  .other_suppliers_section {
    .other_supplier_column, {
      &:last-of-type,
      &:nth-last-of-type(2) {
        display: inline-block !important;
      }
    }
  }
  .why_we_section {
    padding: 0 !important;
    .left_block {
      padding: 15px;
    }
  }
  .mobile_app_section {
    .mobile_app_header {
      font-size: 28px !important;
      line-height: 32px !important;
      text-align: center !important;
    }
    .mobile_app_text {
      color: white;
      font-size: 14px;
      text-align: center !important;
    }
    .left-block {
      width: 100% !important;
      display: block !important;
      margin-bottom: 15px !important;
    }
    .right-block {
      display: none !important;
    }
    .google_app_link {
      margin: 20px 15px 15px 15px !important;
    }
    .app_store_link {
      margin: 20px 15px 15px 15px !important;
    }
    .app-buttons {
      text-align: center !important;
    }
    .google_app_raiting, .app_store_raiting {
      width: 100% !important;
    }
  }
  .footer_top {
    .left-block {
      width: 100% !important;
    }
  }
  .best_deals_subscribe_block {
    margin: 0 !important;
  }
  .best_deals_subscribe_form {
    .subscribe_email {
      width: 100% !important;
    }
    .subscribe_submit {
      width: 100% !important;
      float: none !important;
      margin: 0 !important;
    }
  }
  .jump_to_page {
    display: inline-block !important;
  }
  .footer_menus {
    display: none;
  }
  .left-block, .right-block {
    display: block !important;
    width: 100% !important;
  }
  .left-block {
    .social_block {
      text-align: center !important;
      padding: 0;
    }
  }
  .app_store_black {
    text-align: center;
    width: 52%;
  }
  .google_play_black {
    text-align: center;
    width: 46%;
  }
  .app_store_black,.google_play_black {
    padding: 25px 0 10px 0;
    img {
      max-width: 150px !important;
    }
  }
}