@320: 320px;

@media (max-width: @320) {
  .wrapper {
    width: @320;
  }
  .logo {
    .logo-img {
      line-height: 7px;
      padding: 2px 2px 4px 2px;
      font-size: 24px;
    }
    .logo-text {

    }
  }
}