@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext);
@import "media-320";
@import "media-640";

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.wrapper {
  margin: 0 auto;
  padding: 15px;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.header {
  background-color: #1a5880;
}
.logo {
  color: white;
  display: inline-block;
  svg {
    height: 30px;
    width: 175px;
  }
}
.menu {
  display: inline-block;
  float: right;
}
.under_header_banner {
  height: 485px;
  background: url(../images/background-milano.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
}
.below_footer_banner {
  height: 500px;
  background: url(../images/mobile-app-background.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
}
